.carteirinha-container {
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    gap: 5px;
    width: 40%;
    flex-direction: column;
}

.cartao {
    position: relative;
    width: 700px;
    /* Ajuste conforme necessário */
}

.informacoes {
    position: absolute;
    top: 68%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.carteirinha-img {
    width: 60%;
    margin: 10px auto;

}

.carteirinha-container button {
    display: block;
    margin: 25px auto;
    /* Centraliza o botão e aplica margens superior e inferior */
    background-color: var(--verde);
    color: var(--branco);
    width: 20%;
    height: 7%;
}

.validade {

    display: flex;
    font-size: 12px;
    font-weight: 600;
}