@import '../../styles/index.css';

.historico-container-funeraria {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
    margin-top: 25px;
    margin-left: 10px;
}

.fundo-historico {
    margin-top: 20px;
    background-color: var(--cinza-leve);
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.historico-card-funeraria {
    border: 3px solid #ddd;
    padding: 5px;
    width: calc(30% - 50px);
    max-width: 300px;
    max-height: 300px;
    /* Largura inicial do card - ajuste conforme necessário */
    border-radius: 10px;
    /* Bordas arredondadas */
    overflow: hidden;
    /* Garante que as bordas arredondadas são aplicadas corretamente */
    position: relative;
}

.historico-card-funeraria p {
    font-size: 14px;
}

.historico-card-funeraria::before {
    content: '';
    height: 10px;
    width: 100%;
    background-color: var(--verde);
    /* Cor verde no topo do card */
    position: absolute;
    top: 0;
    left: 0;
}

.icone-funeraria {
    /* Estilo do ícone */
    margin-right: 10px;
    margin-top: 10px;
    /* Espaçamento à direita do ícone */
}

.info-funeraria {
    margin-top: 5px;

}