.textarea{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-observacao-associado {
    margin-top: 20px;
    width: 50%;
    padding: 15px;
    overflow: auto;
    max-height: 500px;
    border-radius: 5px;
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: var(--cinza-leve);
    gap: 10px;
}

.data-observacao{
    width: 25%;
}

.textarea textarea{
    border: none;
    outline: none;
    max-width: 1000px;
    height: 130px;
    max-height: 130px;
    padding: 15px;
    border-radius: 5px;
}

.salva-observacao{

    display: flex;
    align-items: end;
    justify-content: end;
}

.salva-observacao button{
    background-color: var(--verde);
    color: var(--branco);
    width: 20%
}